* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 22px;
}

h3 {
  margin: 15px 0;
}

.block-design {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
}

.input-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
}

.flex-row-container {
  display: flex;
  justify-content: space-between;

}

.input-menu input {
  padding: 0.5em;
  border-radius: 2em;
  border: solid 1px #d4d4d4;
  transition: border linear 0.2s, background-color linear 0.2s;
  display: block;
  width: -webkit-fill-available;
  margin: 0 0 10px 0;
  -webkit-appearance: none;
}

.m-button {
  padding: 0.5em;
  border-radius: 2em;
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color linear 0.2s;
}

.m-button:hover {
  background-color: #00ffaa;
}

.background-block {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .5s;
  opacity: 1;
  z-index: 2;
}

.saves-list {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  z-index: 3;
}

.saves-list h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
}

.saves-list ul {
  margin-top: 40px;
  max-height: 340px;
  overflow: auto;
}

.delete-matrix {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #ffe4e4;
  color: red;
  padding: 0 10px;
}

.toggle-b {
  color: red;
  background-color: #ffe4e4;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color linear 0.2s, background-color linear 0.2s;
}

.toggle-b.toggle-true {
  color: #ffe4e4;
  background-color: red;
}

.back-enter-active,
.back-leave-active {
  transition: opacity .4s linear;
}

.back-enter,
.back-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: transform .4s ease;
}

.list-enter,
.list-leave-to {
  transform: translate(110%, 0px);
}

.delete-list-item-enter-active,
.delete-list-item-leave-active {
  transition: opacity 0.2s linear;
}

.delete-list-item-enter,
.delete-list-item-leave-to {
  opacity: 0;
}

.list-animate-item {
  list-style: none;
  padding: 10px 0;
  border-top: solid 1px #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  transition: all 0.5s ease;
}

.list-animate-enter,
.list-animate-leave-to {
  opacity: 0;
  transform: translate(30px, 0px);
}

.logo {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



@keyframes rainbow {
  0% {
    stroke: #ff00ff;
    transform: scale(0.95);
  }

  16% {
    stroke: #ff0000;
    transform: scale(1.05);
  }

  32% {
    stroke: #ffff00;
    transform: scale(0.95);
  }

  48% {
    stroke: #00ff00;
    transform: scale(1.05);
  }

  64% {
    stroke: #00ffff;
    transform: scale(0.95);
  }

  80% {
    stroke: #0000ff;
    transform: scale(1.05);
  }

  100% {
    stroke: #ff00ff;
    transform: scale(0.95);
  }
}

svg * {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.logo rect {
  fill: none;
  animation: rainbow 36s ease infinite;
  animation-delay: 1s;
  transform-origin: 200px 200px;
  stroke-linejoin: round;
}

.logo .diag {
  transform: rotate(45deg);
  transform-origin: 200px 200px;
}

.toggle-main-menu {
  width: 40px;
  height: 40px;
  font-size: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  transition: box-shadow linear 0.3s, opacity 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0) 0 5px 10px 0;
  z-index: 1;
  opacity: 1;
}

.toggle-main-menu.hide {
  opacity: 0;
  z-index: 0;
}

.toggle-main-menu.right {
  left: initial;
  right: 10px;

}

.toggle-main-menu * {
  transition: transform ease 0.3s, opacity 0.3s linear;
  font-size: 20px;
  transform-origin: center;
  position: absolute;
  opacity: 0.5;
}

.toggle-main-menu.reverse {
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
}

.toggle-main-menu .main-menu-show, .toggle-main-menu.reverse .main-menu-hide {
  transform: matrix(0.1, 0, 0, 1, 0, 0);
  opacity: 0;
}

.toggle-main-menu.reverse .main-menu-show, .toggle-main-menu .main-menu-hide {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
}

.tails-enter-active,
.tails-leave-active {
  transition: transform 0.4s ease;
}

.tails-enter,
.tails-leave-to {
  transform: translate(110%, 0px);
}

.main-menu-enter-active,
.main-menu-leave-active {
  transition: transform 0.4s ease;
}

.main-menu-enter,
.main-menu-leave-to {
  transform: translate(-110%, 0px);
}

.logo-enter-active,
.logo-leave-active {
  transition: transform 0.4s ease, opacity 0.4s linear;
}

.logo-enter,
.logo-leave-to {
  transform: scale(0);
  opacity: 0;
}

/*раздел графики матрицы*/

.result {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
}
.tail {
  transition: fill 0.3s linear;
  stroke: #000088;
  fill: rgba(0, 0, 136, 0);
  stroke-width: 1px;
}

.tail:hover {
  fill: rgba(0, 0, 136, 0.4);
}

.tail.show {
  display: inline;
}

.background-m {
  fill: #888888;
  stroke: #888888;
  stroke-width: 1;
}

.background-m.square {
  fill: none;
}

.energy>circle {
  fill: #ffffff;
  stroke: #7f7f7f;
  stroke-width: 2px;
}


.energy.purple>circle {
  stroke: #c800c8;
}

.energy.blue>circle {
  stroke: #0000c8;
}

.energy.light-blue>circle {
  stroke: #00c8c8;
}

.energy.green>circle {
  stroke: #00c800;
}

.energy.yellow>circle {
  stroke: #c8c800;
}

.energy.orange>circle {
  stroke: #ea3f00;
}

.energy.red>circle {
  stroke: #c80000;
}

.energy>text {
  text-anchor: middle;
  font-size: 13.33px;
}

.energy-per-year>* {
  fill: #888888;
}

.energy-per-year>text {
  font-size: 8px;
  text-anchor: middle;
}

.energy-per-year>text.end {
  text-anchor: end;
}

.energy-per-year>text.middle {
  text-anchor: middle;
}

.comfort-zone rect {
  fill: #ffffff;
  stroke: #888888;
}

.comfort-zone text {
  fill: #000000;
  font-size: 8px;
  text-anchor: middle;
}

.background-t {
  fill: #888888;
  font-size: 8px;
}

.background-t.middle {
  text-anchor: middle;
}

.background-t.end {
  text-anchor: end;
}

.tails-list {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.tails-list ul {
  list-style: none;
  max-height: calc(100% - 30px);
  overflow: auto;
}

.tails-list li {
  border-top: solid 1px #d1d1d1;
  padding: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tails-list li.selected {
  color: red;
}

.tail.selected {
  stroke: #ff0000;
  fill: rgba(255,0,0,0.3)
}

@media (prefers-color-scheme: dark) {
  .tails-list li {
    border-top: solid 1px #2e2e2e;
  }

  .list-animate-item {
    border-top: solid 1px #2e2e2e;
  }
  .comfort-zone rect {
    fill: #222222;
  }
  
  .comfort-zone text {
    fill: #ffffff;
  }

  .tail:hover {
    fill: rgba(127, 127, 255, 0.4);
  }
  
  .tail {
    stroke: #7f7fff;
  }

  .energy>text {
    fill: #ffffff;
  }

  .energy>circle {
    fill: #222222;
  }

  body {
    background-color: #000000;
    color: #ffffff;
  }

  .block-design {
    background-color: #222222;
  }

  .input-menu input {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #757575;
  }

  .m-button {
    background-color: #483d8b;
  }

  .m-button:hover {
    background-color: #7365d3;
  }

  .toggle-b {
    background-color: #5a0000;
    color: #ffffff;
  }

  .delete-matrix {
    background-color: #5a0000;
    color: #ffffff;
  }

  .toggle-main-menu {
    background-color: #222222;
  }
}